.App {
}

.BoxContainer {
  max-width: 100%;
}

.CenterItem {
  text-align: center;
}

.AvatarImg {
  height: 18vmin;
}

.PaginationButton {
  width: 4.2vmin;
}

.Inline {
  display: inline-block;
}

.ForkLogo {
  width: 0.95vmin;
}

.WatchersLogo {
  width: 1.35vmin;
  padding-bottom: 0.2vmin;
}

.MiddleHeight {
  margin-top: 20%;
}
